body {
    margin: 0;
    padding-top: 75px;
}
.header {
    width: 100%;
    height: auto;
    background-color: rgb(239, 239, 247);
    margin-top: -75px;
    padding: 15px 0 15px 0;
}
.header-item {
    height: 45px;
    background-color: rgb(158, 211, 158);
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}
.page {
    display: inline-flex;
}
.left-nav {
    height: auto;
    width: 30%;
    background-color: #fff;
    border: 1px solid rgb(76, 215, 220);
    margin: 15px;
    padding: 25px;
}
.nav-but {
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgb(158, 211, 158);
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-text {
    height: auto;
    width: 70%;
    background-color: #fff;
    border: 1px solid rgb(76, 215, 220);
    margin: 15px;
    padding: 25px;
    font-size: 17px;
    text-align: justify;
    color: rgb(181, 179, 179);
    font-family: sans-serif;
}
button:hover {
    cursor: pointer;
    background-color: rgba(158, 211, 158, 0.5);
    transition: 300ms;
}