.header {
    background-color: rgb(206, 206, 206);
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.6);
}
.but1 {
    background-color: rgb(158, 158, 158);
    margin: 15px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
}
.but2 {
    background-color: rgb(158, 158, 158);
    margin: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}
.but2:hover {
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.7);
}
.but1:hover {
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.7);
}
#logIn {
    margin: 15px;
    color: white;
}
#signUp {
    margin: 15px;
    color: white;
}
.sidebar {
    background-color: rgb(206, 206, 206);
    margin-top: 40px;
    height: auto;
    width: 30%;
    display: inline-flex;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.6);
}
.ult {
    margin: 15px;
    width: 45%;
    margin-right: 5%;
    background-color: rgb(158, 158, 158);
    border: none;
    border-radius: 5px;
}
.ult:hover {
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.7);
}
.stand {
    margin: 15px;
    width: 45%;
    margin-right: 5%;
    background-color: rgb(158, 158, 158);
    border: none;
    border-radius: 5px;
}
.stand:hover {
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.7);
}
.lab {
    margin-top: 20px;
}
.href {
    height: 64px;
    width: 64px;
}


